<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/admin-layout :: head(Admin)}"></head>
<body class="d-flex flex-column min-vh-100" data-page = "admin">
<header th:replace="~{layouts/admin-layout :: header}"></header>
<div class="container mt-4">
    <h1>Admin dashboard</h1>

    <div th:if="${successMessage}" id = "successMessage" class="alert alert-success alert-dismissible fade show">
        <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <div class="mt-4">
        <a href="/admin/post/new" class="btn btn-success mb-3">New post</a>
        <a href="/admin/tag/new" class="btn btn-success mb-3">New tag</a>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}">ID</td>
            <td><a href="/admin" th:href="@{/admin/post/{id}(id=${post.id})}" th:text="${post.title}">Title</a></td>
            <td th:text="${post.createdAt.toLocalDate()}">Date</td>
            <td>
                <a href="/admin" th:href="@{/admin/post/edit/{id}(id=${post.id})}" class="btn btn-sm btn-warning">Edit</a>
                <a href="/admin" th:href="@{/admin/post/delete/{id}(id=${post.id})}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace = "~{layouts/admin-layout :: footer}"></footer>

</body>
</html>