<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/admin-layout :: head(Update-post)}"></head>
<body class="d-flex flex-column min-vh-100" data-page = "create-post">
<header th:replace="~{layouts/admin-layout :: header}"></header>
<nav th:replace="~{layouts/admin-layout :: breadcrumbs(${breadcrumbs})}"></nav>

<main class="my-3">
    <div class="container mt-4">
        <h1 class="mb-4">Edit Post</h1>

        <form th:action="@{/admin/post/edit/{id}(id=${postDto.id})}" th:object="${postDto}" method="post">

            <div class="mb-3">
                <label for="title" class="form-label">Title*</label>
                <input type="text" class="form-control" id="title"
                       th:field="*{title}" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content*</label>
                <textarea class="form-control" id="content" rows="10"
                          th:field="*{content}" required></textarea>
            </div>
            <div class="mb-3">
                <label for="summary" class="form-label">Summary</label>
                <textarea class="form-control" id="summary" rows="3"
                          th:field="*{summary}"></textarea>
                <div class="form-text">Brief description for preview</div>
            </div>
            <div class="mb-3">
                <label for="imageSrc" class="form-label">Image Source</label>
                <input type="text" class="form-control" id="imageSrc"
                       th:field="*{imageSrc}">
            </div>
            <div class="mb-3">
                <label for="imageAlt" class="form-label">Image Alt</label>
                <input type="text" class="form-control" id="imageAlt"
                       th:field="*{imageAlt}">
            </div>

            <div class="mb-3" th:if = "${not #sets.isEmpty(tags)}">
                <label class="form-label">Tags</label>
                <div class="d-flex flex-wrap gap-2" id="tags-container">
                    <div th:each="tag : ${tags}"
                         th:with="hasTag = ${postDto.tags.contains(tag)}"
                         class="form-check">
                        <input type="checkbox"
                               th:id="'tag-' + ${tag.id}"
                               th:value="${tag.id}"
                               th:checked="${hasTag}"
                               class="form-check-input d-none"
                               name="tags">
                        <label th:for="'tag-' + ${tag.id}"
                               th:text="${tag.name}"
                               th:classappend="${hasTag} ? 'btn-primary' : 'btn-outline-primary'"

                               class="btn tag-label">
                        </label>
                    </div>
                </div>
            </div>


            <div th:if="${#fields.hasErrors('*') or not #lists.isEmpty(errors)}" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
                <ul th:if = "${not #lists.isEmpty(errors)}">
                    <li th:each="error : ${errors}" th:text="${error.getDefaultMessage()}">error</li>
                </ul>
            </div>

            <div class="mb-4">
                <div class="d-flex justify-content-between my-4">
                    <a class="btn btn-secondary" onclick="history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                        Back
                    </a>
                    <button type="submit" class="btn btn-primary">Publish</button>
                </div>
            </div>

        </form>

    </div>
</main>

<footer th:replace="~{layouts/admin-layout :: footer}"></footer>
</body>
</html>