<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/layout :: head('Main Page')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

    <header th:replace="~{layouts/layout :: header}">

    </header>


<div class="container m-5">
    <h1 class="my-5">Last posts</h1>

    <div class="post-preview my-4" th:each="post : ${posts}">
        <h2><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">Title</a></h2>
        <p class="text-muted" th:text="${post.createdAt}">Date</p>
        <p th:text="${post.summary}">Summary...</p>
        <a th:href="@{/post/{id}(id=${post.id})}" class="btn btn-outline-primary">Detail</a>
    </div>

</div>


<footer th:replace="~{layouts/layout :: footer}">

</footer>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>