<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/layout :: head(#{main.head.title})}">
    <title>Main page</title>
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{layouts/layout :: header}"></header>
<nav th:replace="~{layouts/layout :: breadcrumbs(${breadcrumbs})}"></nav>


<div class="container m-5">
    <h1 th:text="#{main.h1}">Last posts:</h1>

    <div th:if="${posts.size() == 0}" th:text="#{main.posts.notfound}" class="alert alert-info">
        Posts are not found
    </div>

    <div class="post-preview m-5" th:each="post : ${posts}">
        <h3><a class="link-dark" th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">Title</a></h3>
        <p class="text-muted" th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy')}">Date</p>
        <p th:with="lastIndex = 500, summary = ${post.content.length() <= lastIndex} ? ${post.content} : ${post.content.substring(0, lastIndex) + '...'}"
           th:text="${post.summary.trim().length() == 0} ? ${summary} : ${post.summary}">Summary...</p>
        <div th:if="${post.tags != null and !post.tags.isEmpty()}" class="mb-4">
            <div class="d-flex flex-wrap gap-2">
                        <span th:each="tag : ${post.tags}"
                              class="badge bg-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-tag me-1" viewBox="0 0 16 16">
                                <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                                <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                            </svg>
                            <span th:text="${tag.name}">Tag</span>
                        </span>
            </div>
        </div>
        <a th:href="@{/post/{id}(id=${post.id})}" class="btn btn-outline-dark" th:text="#{main.posts.detail.link}">Detail</a>
    </div>

    <nav th:if="${totalPages > 1}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link link-dark" th:text="#{main.pagination.first}" th:href="@{/(page = 0, size = ${size})}">First</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link link-dark" th:href="@{/(page = ${currentPage - 1}, size = ${size})}"> < </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(
            T(java.lang.Math).max(0,currentPage - 2),
            T(java.lang.Math).min(totalPages - 1, currentPage + 2)
            )}" th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link link-dark" th:href="@{/(page = ${i}, size = ${size})}" th:text="${i + 1}">Page</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link link-dark" th:href="@{/(page = ${currentPage + 1}, size = ${size})}"> > </a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link link-dark" th:text="#{main.pagination.last}" th:href="@{/(page = ${totalPages - 1}, size = ${size})}">Last</a>
            </li>
        </ul>
    </nav>

</div>
<div id="test" th:with="maxNumber=${T(java.lang.Math).min(totalPages - 1, currentPage + 2)}"></div>


<footer th:replace="~{layouts/layout :: footer}"></footer>
<div th:replace="~{layouts/layout :: scripts}"></div>

</body>
</html>